/* 
The only keyword prevents older browsers that do not support media queries with media features from applying the given styles. It has no effect on modern browsers. https://stackoverflow.com/questions/42025632/how-to-detect-only-with-css-mobile-screens
*/
@media only screen and (hover: none) and (pointer: coarse) {

}
/**/
:root {
    --Con-bg-color: yellow;
    --Con-btn-color: green;
    --Con-width: 33vw;
}
/*Animantions*/
@keyframes AniShowXHideDiv {
    0% {
        height: 0;
    }
    100% {
        height: var(--Con-width);
    }
}


/*IDs*/
#IdOuterDivOfCon {
    position: absolute;

    height: 0;
    width: var(--Con-width);

    background-color: var(--Con-bg-color);

    display: none;
}


/*ShowXHideButton CSS classes*/
.ClShowXHideButtonBottom {
    position: absolute;
    bottom: 0;
    right: calc(var(--Con-width) / 2);

    height: 1.5rem; 
    width: 2rem; 
    border-top-left-radius: 1rem; border-top-right-radius: 1rem;

    background-color: var(--Con-btn-color);
}

.ClShowXHideButtonLeft {
    position: absolute;
    bottom: 0;
    right: calc(var(--Con-width) / 2);

    width: 1.5rem; 
    height: 2rem; 
    border-bottom-right-radius: 1rem; border-top-right-radius: 1rem;

    background-color: var(--Con-btn-color);
}

.ClShowXHideButtonRight {
    position: absolute;
    bottom: 0;
    right: calc(var(--Con-width) / 2);

    width: 1.5rem; 
    height: 2rem; 
    border-top-left-radius: 1rem; border-bottom-left-radius: 1rem;

    background-color: var(--Con-btn-color);
}

.ClShowXHideButtonTop {
    position: absolute;
    bottom: 0;
    right: calc(var(--Con-width) / 2);

    height: 1.5rem; 
    width: 2rem;
    border-bottom-left-radius: 1rem; border-bottom-right-radius: 1rem;

    background-color: var(--Con-btn-color);
}
/*#####################*/