:root {
    --big-gap: 2rem;
    --small-gap: 0.2rem;

    --font-color: #ffffff;
    --main-color: #3772b4;
    --secondary-color: #155092;

    --headder-font: 1.75rem;
    --secondary-font: 1.5rem;
}

body {
    margin: 0;
}

#nav {
    position: sticky;
    top: 0;
    height: auto;

    background-color: var(--secondary-color);

    display: flex;
    gap: var(--small-gap);
}

#nav span {
    color: white;
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1ch;
}

#nav span a {
    text-decoration: none;
    color: white;
}

#nav span button {
    height: 2rem;
    width: 2rem;
}


#main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: var(--big-gap);
    margin: 0;

    background-color: var(--main-color);
}

#setup-contents {
    width: 30em;
}

form {
    display: grid;
    grid-row: var(--big-gap);
    gap: var(--small-gap);
}

h3 {
    text-align: center;
    color: var(--font-color);
    font-size: var(--headder-font);
}

form input {
    height: var(--big-gap);
    font-size: var(--secondary-font);
}

select {
    height: var(--big-gap);
    font-size: var(--secondary-font);
}

input[type=color] {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: unset;
    width: auto;
}

label {
    padding: var(--small-gap);
    padding-left: var(--big-gap);

    height: var(--big-gap);
    font-size: var(--headder-font);
    
    background-color: var(--secondary-color);
    color: var(--font-color);
}

form textarea {
    resize: vertical;
}



/*___________selection_navigation__________*/


#setup-selection {
    position: sticky;
    top: 3rem;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 1ch;
    padding: 1ch;
    padding-top: 5ch;
}

#setup-selection a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.5rem;
    
}

#setup-selection button {
    max-width: 30ch;
    border-width: 0.2ch;
    border-color: var(--font-color);
    background-color: var(--main-color);
}

#select_bot_to_edit {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

#copyThisCode {
    background-color: var(--font-color);
    max-width: 37ch;
    word-wrap: break-word;
    font-size: 0.75rem;
}

h4 {
    font-size: 1.25rem;
    margin-bottom: 0;
    color: var(--font-color);
}