body {
    margin: 0;
}

#setup-contents {grid-area: sc;}
#setup-selection {grid-area: ss;}

#main-content {
    width: 100vw;
    display: grid;

    gap: 1rem;
    margin: 0;

    grid-template-areas: 
    'sc sc sc sc ss'
    ;

    background-color: #3772b4;
}

