body {
    margin: 0;
}

#loginDiv { grid-area: log;}
#registerDiv { grid-area: reg; }

#mainGrid {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-areas:
      'log reg'
      'log reg'
      'log reg';
    gap: 10px;
    background-color: #2196F3;
}

.bg_green {
    background-color: #bde680;
}
.bg_red {
    background-color: #f89595;
    ;
}


#mainGrid div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
    background-color: white;
}

#mainGrid div form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#mainGrid div form input{
    font-size: 2rem;
}



#message_box {
    position: absolute;
    top: 0;
    width: 100vw;
    min-height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    padding: auto;
}

