:root {
    --ConMainCol: #AAAAff;
    --ConSecCol: #222255;
}
.ConClNone {
    display: none;
}

.ConClGrid {
    display: grid;
}

.ConClBlock {
    display: block;
}
/*_____________________BotBox______________________*/

/*      1     2  
________________
|____________|X|1
|              |
|              |
|     Chat     |2
|              |
|______________|
|Message...__|>|3

*/
#ConIdCloseBTN {grid-area: close;}
#ConIdMessageBox {grid-area:  chat;}
#ConIdInputBox {grid-area: input;}
#ConIdSubBTN {grid-area: send;}

#ConIdBotBox {
    position: fixed;
    grid-template-areas: 
    'empty close'
    'chat chat'
    'input send';
    grid-template-columns: auto 2rem;
    grid-template-rows: 2rem auto 2rem;
    width: 15rem;
    height: 20rem;

    background-color: var(--ConMainCol);
}

#ConIdMessageBox {
    overflow-y: auto;
}

/*_________________Position Classes__________________*/

.ConClbottom {

    bottom: 0;
    right: 5vw;
}

.ConCltop {

    top: 0;
    right: 5vw;
}

.ConClright {

    right: 0;
    bottom: 5vw;
}

.ConClleft {

    left: 0;
    bottom: 5vw;
}

#ConIdDisplayBTN {
    position: fixed;
    height: 2rem;
    width: 2rem;
}

.ConClBotMessage {
    padding: 0.2rem;
    height: fit-content;
    width: fit-content;
    max-width: 10rem;

    word-break: break-word;

    margin-right: auto;
    margin-left: 0.1rem;
    border-radius: 0.5rem;
    background-color: var(--ConSecCol);
}

.ConClUserMessage {
    padding: 0.2rem;
    height: fit-content;
    width: fit-content;
    max-width: 10rem;
    
    word-break: break-word;

    margin-left: auto;
    margin-right: 0.1rem;
    border-radius: 0.5rem;
    background-color: white;
}